.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0 300px 0;
}
.hero__title-wrap {
    background: #89bd3f;
    display: inline-block;
    padding: 15px;
}
.hero__title {
    color: #fff;
    text-transform: uppercase;
    font-size: 100px;
}
.hero__text-wrap {
    background: #89bd3f;
    display: inline-block;
    padding: 15px;
}
.hero__text {
    color: #fff;
    font-size: 25px;
    max-width: 750px;
}

.about {
    margin-bottom: 60px;
}

.about__wrap {
    display: flex;
}

// .about__item {
//     display: flex;
//     align-items: flex-start;
// }

.about__text {
    font-size: 35px;
    display: block;
}

.about__wrap svg {
    fill: #89bd3f;
    display: block;
    float: right;
}

.about__item {
    padding: 50px 5px 0 30px;
    width: 306px;
    border-right: 1px solid #ccc;

    &:last-child {
       border: none; 
    }
}

.descr-container {
    display: flex;
    justify-content: space-between;
}

.descr__img {
    
    width: 480px;

}

.descr__img img {
    
    width: 100%;

}